@use "../abstracts";
@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../base/_helpers.scss";

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(
    45deg,
    darken($cor-roxa-secundaria, 35%) 30%,
    darken($cor-verde-secundaria, 25%) 85%,
    darken($cor-roxa-primaria, 40%) 100%
  );
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 0.3rem;
}

html {
  font-size: 62.5%;
  // > 1201px
  @include respond(xxl) {
    font-size: 68.75%;
  }

  //1025px - 1200px
  @include respond(xl) {
  }

  //769px - 1024px
  @include respond(lg) {
    font-size: 56.25%;
    .navegacao,
    .navegacao {
      width: 100svw;
    }

    .hero__container {
      width: 100svw;
      gap: 1rem;
    }
  }

  //481px - 768px
  @include respond(md) {
    font-size: 50%;
    .menu {
      padding: 1rem 0;
      transform: translatex(-3rem);
      &-up {
        gap: 0;
      }
    }

    .hero__container {
      flex-direction: column;
      margin-top: 6.5rem;
      height: auto;
    }

    .me__container {
      margin: 6rem 0 0 0;
      &--foto {
        margin-left: 0;
        padding: 0;
      }
    }

    .dev {
      margin-left: 0;
    }

    .hero__container2 {
      margin: 0 0 0 2rem;
    }
    .abas__container {
      gap: 1rem;
      &--back,
      &--front,
      &--ux_ui,
      &--ferramentas {
        padding: 1rem 0.5rem;
      }
    }
    .elevator__faixa--texto {
      top: 3.5rem;
    }
    .elevator__span {
      font-size: 3rem;
    }
    .elevator__texto {
      padding: 0;
    }
    .grid--portfolio {
      display: flex;
      flex-direction: column;
    }
    .version {
      justify-content: flex-end;
      margin-top: 2rem;
    }
  }
  //0px - 480px
  @include respond(sm) {
    font-size: 50%;

    .hamburger-icon {
      display: flex;
      flex-direction: column; // Mudei para column, barras geralmente são empilhadas
      justify-content: space-around; // Distribui as barras verticalmente
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      padding: 1rem;
      box-sizing: border-box;
      z-index: 100;
      transform: translateX(-32px);

      &.is-active .bar:nth-child(1) {
        transform: translateY(calc(0.8rem + 35%)) rotate(45deg);
      }
      &.is-active .bar:nth-child(2) {
        opacity: 0;
      }
      &.is-active .bar:nth-child(3) {
        transform: translateY(calc(-0.8rem - 35%)) rotate(-45deg);
      }
    }

    .bar {
      display: block;
      width: 100%;
      background-color: $cor-verde-primaria;
      height: 0.5rem;
      border-radius: 5rem;
      transition: all 0.5s ease-in-out;
    }

    .menu {
      display: none;
      transition: all 5s ease-in-out;

      &.menu--mobile.menu--open {
        display: flex;
        position: fixed;
        top: 6.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        z-index: 100;
        border: 0.1rem $cor-roxa-secundaria solid;
        border-radius: 0.6rem;

        .menu-up {
          flex-direction: column;
          margin: 2rem 0;
        }
      }
    }

    .dobra {
      width: 30rem;
    }
    .hero__container {
      flex-direction: column;
      margin-top: 6.5rem;
      height: auto;
    }
    .me__container {
      margin: 6rem 0 0 0;
      &--foto {
        margin-left: 0;
        padding: 0;
      }
    }
    .dev {
      margin-left: 0;
    }
    .hero__container2 {
      margin: 0 0 0 2rem;
    }

    .abas__container {
      gap: 1rem;
      &--back,
      &--front,
      &--ux_ui,
      &--ferramentas {
        padding: 1rem 0.5rem;
      }
    }

    .elevator__faixa--texto {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      top: 4.5rem;
    }
    .elevator__span {
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
    .elevator__texto {
      padding: 0;
    }
    .elevator--img-aside {
      height: 20rem;
    }
    .elevator__content {
      margin: 0 2rem 4rem 2rem;
    }

    .grid--portfolio {
      display: flex;
      flex-direction: column;
      row-gap: 0;
    }
    .container {
      padding: 1rem;
    }
    .portfolio--img {
      height: 45rem;
    }

    .acima {
      right: 0;
    }

    .version {
      justify-content: flex-end;
      margin-top: 2rem;
    }
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  user-select: none;
  font-size: 1.5rem;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100svw;
  height: 100vh;
  min-width: 320px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
// -----------------------------------------------------------------------------
// ****FLEXBOX****

.caixa {
  @include caixa-flex--center;
  gap: 1rem;
}

#Topo {
  width: 0.1rem;
  height: 0.1rem;
}

.cabecalho {
  position: fixed;
  display: flex;
  flex-direction: row;
  user-select: none;
  top: 0;
  left: 0;
  z-index: 101;

  .tema {
    @include controles;
    top: 0;
    right: 2.5rem;

    & img {
      background-color: black;
      transition: transform 0.5s ease-in-out;
      &:hover {
        transform: rotate(720deg) scale(1.5);
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }

  .github {
    @include controles;
    top: 0;
    right: 8.5rem;
    & img {
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
        &:active {
          background-color: $cor-verde-primaria;
        }
      }
    }
  }

  .cafe {
    @include controles;
    top: 0;
    right: 14rem;
    & img {
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }
  .chat {
    @include controles;
    top: 0;
    right: 20rem;
    & img {
      color: white;
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }

  &__logo--img {
    @include fundo-transparente--pr;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    will-change: filter;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.5rem 0 0 2rem;
    z-index: 100;
    transition: 4s ease-in-out;

    & img {
      filter: hue-rotate(1340deg);
    }

    &:hover {
      filter: drop-shadow(0 0 1.5rem #bac518) hue-rotate(750deg);
    }
  }
  .navegacao {
    @include fundo-transparente--br;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 0 0 1rem 1rem;
    width: 100svw;
  }
}

.botao {
  @include botao-classico--vd;
}

.nav {
  display: flex;
  height: 7rem;
  align-self: center;
}

.menu {
  background-color: black;
  @include caixa-flex--center;
  border-radius: 5rem;
  padding: 1rem 2rem;

  &-up {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.8rem;
    align-items: center;
    & a {
      font-family: "Outfit", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
    }

    &--botoes {
      margin: 0 1rem;
    }
  }
}

// digitador
.digitador {
  font-size: 1.6rem;
  font-weight: 600;
  color: $cor-verde-primaria;
  background-color: black;
}

.blinking-cursor {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// ****IMAGENS****

.skills-icon__container {
  @include caixa-flex--center--b;

  &skils-icon {
    width: 5rem;
    height: 5rem;
  }
}
.menu-up--botoes {
  cursor: pointer;
  display: inline-block;
  border-radius: 15rem;
  border-color: #121212, #888888;
  border-style: solid;
  border-width: 0.1rem;
  padding: 0.8rem 0.8rem;
  transition-duration: 0.4s;
  &:hover {
    background-color: #92ff2bbe;
    color: #121212;
  }
}
