@use "../abstracts";
@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";
@import "../base/_helpers.scss";

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(
    45deg,
    darken($cor-roxa-secundaria, 35%) 30%,
    darken($cor-verde-secundaria, 25%) 85%,
    darken($cor-roxa-primaria, 40%) 100%
  );
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 0.3rem;
}

html {
  font-size: 62.5%;
  @include respond(xxl) {
    font-size: 68.75%;
  }
  @include respond(xl) {
  }

  @include respond(big) {
    font-size: 56.25%;
  }

  @include respond(md) {
    font-size: 50%;
  }

  @include respond(sm) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  user-select: none;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
// -----------------------------------------------------------------------------
// ****FLEXBOX****

.caixa {
  @include caixa-flex--center;
  gap: 1rem;
}

.cabecalho {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex;
  user-select: none;
  top: 0;
  left: 0;
  z-index: 101;

  .tema {
    @include controles;
    top: 0;
    right: 2.5rem;

    & img {
      background-color: black;
      transition: transform 3s ease-in-out;
      &:hover {
        transform: rotate(720deg) scale(1.5);
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }

  .github {
    @include controles;
    top: 0;
    right: 8.5rem;
    & img {
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
        &:active {
          background-color: $cor-verde-primaria;
        }
      }
    }
  }

  .cafe {
    @include controles;
    top: 0;
    right: 14rem;
    & img {
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }
  .chat {
    @include controles;
    top: 0;
    right: 20rem;
    & img {
      color: white;
      background-color: black;
      &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
      }
      &:active {
        background-color: $cor-verde-primaria;
      }
    }
  }

  &__logo--img {
    @include fundo-transparente--pr;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    will-change: filter;
    transition: filter 1600ms;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.5rem 0 0 2rem;
    z-index: 100;
    transition: 4s ease-in-out;

    &:hover {
      filter: drop-shadow(0 0 1.5rem #bac518) hue-rotate(750deg);
    }
  }
  .navegacao {
    @include fundo-transparente--br;
    @include caixa-flex--center;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
  }
}

.botao {
  @include botao-classico--vd;
}

.nav {
  display: flex;
  height: 7rem;
  align-self: center;
}

.menu {
  background-color: black;
  @include caixa-flex--center;
  border-radius: 5rem;
  padding: 1rem 2rem;

  &-up {
    width: 100%;
    min-width: 32rem;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.8rem;
    align-items: center;
    & a {
      font-family: "Outfit", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
    }

    &--botoes {
      margin: 0 1rem;
    }
  }
}

// digitador
.digitador {
  font-size: 1.6rem;
  font-weight: 600;
  color: $cor-verde-primaria;
  background-color: black;
}

.blinking-cursor {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// ****IMAGENS****

.skills-icon__container {
  @include caixa-flex--center--b;

  &skils-icon {
    width: 5rem;
    height: 5rem;
  }
}
.menu-up--botoes {
  cursor: pointer;
  display: inline-block;
  border-radius: 15rem;
  border-color: #121212, #888888;
  border-style: solid;
  border-width: 0.1rem;
  padding: 0.8rem 0.8rem;
  transition-duration: 0.4s;
  &:hover {
    background-color: #92ff2bbe;
    color: #121212;
  }
}
