// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@mixin texto($familia, $tamanho, $peso, $altura) {
  font-family: $familia;
  font-size: $tamanho;
  font-weight: $peso;
  line-height: $altura;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 100;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px #a7a7a7, 0 0 1em #5e5913, 0 0 0.2em #121212;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}
