@use "../abstracts";
@import "../abstracts/_variables.scss";
/**
 * Tipografía básica do projeto.
 */

a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #00f0e7;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.6rem;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #bafffd;
  text-decoration-color: $cor-verde-primaria;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 0.6rem;
}

a:active {
  color: $cor-verde-primaria;
}

.cabecalho__logo {
  font-family: "Satisfy", Arial, Helvetica, sans-serif;
  color: $cor-verde-primaria;
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
}
