@use "../abstracts";
@import "../abstracts/_variables.scss";
/**
 * Tipografía básica do projeto.
 */

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  gap: 1.2rem;
}

.menu a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: lighten($cor-roxa-secundaria, 30%);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.6rem;
  transition: all 0.3s ease-in;
  padding: 0 1rem;
  border: solid 0.2rem transparent;
  border-radius: 1rem;
  border: solid 0.2rem black;
  border-width: 0 0 0 0.2rem;
  &:hover {
    text-decoration: none;
    // color: lighten($cor-roxa-primaria, 35%);
    // text-decoration-color: $cor-roxa-primaria;
    border: solid 0.2rem $cor-verde-primaria;
    border-width: 0 0 0 0.2rem;
    // text-decoration-thickness: 0.3rem;
    // text-underline-offset: 0.6rem;
  }

  &:active {
    color: $cor-laranja-primaria;
  }
}

p {
  margin-top: 1rem;
}

.cabecalho__logo {
  font-family: "Satisfy", Arial, Helvetica, sans-serif;
  color: $cor-verde-primaria;
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
}
