// -----------------------------------------------------------------------------
// KUNG FU SCSS

// MIXINS
@mixin caixa-flex--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin caixa-flex--center--b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #888888;
}

@mixin circulo-flex--center {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circulo-flex--center--b {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #888888;
}

@mixin fundo-transparente--br {
  box-shadow: inset 0rem 0rem 0rem 30rem rgba(207, 207, 207, 0.06);
  border: none;
  backdrop-filter: blur(1.5rem);
}

@mixin fundo-transparente--pr {
  box-shadow: inset 0rem 0rem 9rem 30rem rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(1.5rem);
}

@mixin botao-classico--br {
  background-color: #00f050;
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3rem;
  transition: 0.15s ease-in-out;
  border: 0.2rem solid #fffbfb69;
  padding: 1rem 2.5rem;
  margin: 0 1rem;
  //   text-align: center;
  align-self: center;
  user-select: none; // Impede a seleção de texto ao clicar
  text-transform: uppercase;
  font-size: 1.4rem;

  &:hover {
    cursor: pointer;
    background-color: #00f050;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(rgba(0, 0, 0, 0.295), 0.3) !important; // Adiciona um contorno de foco acessível
    transform: translate(-0.1rem, -0.1rem); // Um leve deslocamento para cima
  }

  &:active {
    background: linear-gradient(#00f050, rgb(1, 128, 17));
    // background-color: #57ffb0, black;
    // Adicione outros estilos para o estado ativo (pressionado)
    // transform: scale(0.98); // Um leve encolhimento ao clicar
    transform: translate(0rem, 0.1rem);
    box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgba(rgba(0, 0, 0, 0.966), 0.5) !important;
    transition: 0.05s ease-in-out;
  }

  &:focus {
    outline: none; // Remove o contorno padrão em alguns navegadores
    box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(rgba(0, 0, 0, 0.562), 0.3); // Adiciona um contorno de foco acessível
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed; // Indica que não é clicável
    opacity: 0.6; // Torna o botão semi-transparente
  }

  &--menu {
    border-radius: 50rem;
    transition: 0.15s ease-in-out;
    border-width: 0;
    padding: 0 0;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    user-select: none; // Impede a seleção de texto ao clicar

    &:hover {
      cursor: pointer;
      background-color: #00f050;
      box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(rgba(0, 0, 0, 0.295), 0.3) !important; // Adiciona um contorno de foco acessível
      transform: translate(-0.1rem, -0.1rem); // Um leve deslocamento para cima
    }

    &:active {
      background: linear-gradient(#00f050, rgb(1, 128, 17));
      // background-color: #57ffb0, black;
      // Adicione outros estilos para o estado ativo (pressionado)
      // transform: scale(0.98); // Um leve encolhimento ao clicar
      transform: translate(0rem, 0.1rem);
      box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgba(rgba(0, 0, 0, 0.966), 0.5) !important;
      transition: 0.05s ease-in-out;
    }

    &:focus {
      outline: none; // Remove o contorno padrão em alguns navegadores
      box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(rgba(0, 0, 0, 0.562), 0.3); // Adiciona um contorno de foco acessível
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed; // Indica que não é clicável
      opacity: 0.6; // Torna o botão semi-transparente
    }
  }
}

// ***********************************************************************
// FONTES

@mixin fonte_menu {
  font-family: "Anton SC";
}
