// -----------------------------------------------------------------------------
// KUNG FU SCSS

// SISTEMA DE TAMANHOS

// Fontes - Minor Third - 1.200 em PX
// 4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39-8 - 47.8 - 57.3 - 68.8 - 82.6

// Espaçamentos - Major Third - 1.2500 - em PX
// 2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2

// MIDIAS QUERYS
// 320px - 480px: Mobile devices (phones).
// 481px - 768px: Tablets.
// 769px - 1024px: Small screens, laptops.
// 1025px - 1200px: Desktops, larger screens.
// 1201px and above: Very large screens, TVs. 

// 1. Mobile: 0px - 767px
// 2. Tablet: 768px - 1023px
// 3. Desktop: 1024px - 1279px
// 4. Large Desktop: 1280px - 1535px
// 5. Extra Large Desktop: 1536px e acima

// MIXINS
@mixin caixa-flex--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin caixa-flex--center--b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #888888;
}

@mixin circulo-flex--center {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circulo-flex--center--b {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #888888;
}

@mixin fundo-transparente--br {
  box-shadow: inset 0rem 0rem 0rem 30rem rgba(207, 207, 207, 0.06);
  border: none;
  backdrop-filter: blur(1.5rem);
}

@mixin fundo-transparente--pr {
  box-shadow: inset 0rem 0rem 9rem 30rem rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(1.5rem);
}

@mixin botao-classico--br {
  background-color: #00f050;
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3rem;
  transition: 0.15s ease-in-out;
  border: 0.2rem solid #fffbfb69;
  padding: 1rem 2.5rem;
  margin: 0 1rem;
  //   text-align: center;
  align-self: center;
  user-select: none; // Impede a seleção de texto ao clicar
  text-transform: uppercase;
  font-size: 1.4rem;

  &:hover {
    cursor: pointer;
    background-color: #00f050;
    box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(rgba(0, 0, 0, 0.295), 0.3) !important; // Adiciona um contorno de foco acessível
    transform: translate(-0.1rem, -0.1rem); // Um leve deslocamento para cima
  }

  &:active {
    background: linear-gradient(#00f050, rgb(1, 128, 17));
    // background-color: #57ffb0, black;
    // Adicione outros estilos para o estado ativo (pressionado)
    // transform: scale(0.98); // Um leve encolhimento ao clicar
    transform: translate(0rem, 0.1rem);
    box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgba(rgba(0, 0, 0, 0.966), 0.5) !important;
    transition: 0.05s ease-in-out;
  }

  &:focus {
    outline: none; // Remove o contorno padrão em alguns navegadores
    box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(rgba(0, 0, 0, 0.562), 0.3); // Adiciona um contorno de foco acessível
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed; // Indica que não é clicável
    opacity: 0.6; // Torna o botão semi-transparente
  }

  &--menu {
    border-radius: 50rem;
    transition: 0.15s ease-in-out;
    border-width: 0;
    padding: 0 0;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    user-select: none; // Impede a seleção de texto ao clicar

    &:hover {
      cursor: pointer;
      background-color: #00f050;
      box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(rgba(0, 0, 0, 0.295), 0.3) !important; // Adiciona um contorno de foco acessível
      transform: translate(-0.1rem, -0.1rem); // Um leve deslocamento para cima
    }

    &:active {
      background: linear-gradient(#00f050, rgb(1, 128, 17));
      // background-color: #57ffb0, black;
      // Adicione outros estilos para o estado ativo (pressionado)
      // transform: scale(0.98); // Um leve encolhimento ao clicar
      transform: translate(0rem, 0.1rem);
      box-shadow: 0rem 0.2rem 0.2rem 0.1rem rgba(rgba(0, 0, 0, 0.966), 0.5) !important;
      transition: 0.05s ease-in-out;
    }

    &:focus {
      outline: none; // Remove o contorno padrão em alguns navegadores
      box-shadow: 0rem 0.5rem 0.5rem 0.1rem rgba(rgba(0, 0, 0, 0.562), 0.3); // Adiciona um contorno de foco acessível
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed; // Indica que não é clicável
      opacity: 0.6; // Torna o botão semi-transparente
    }
  }
}

// ***********************************************************************
// FONTES

@mixin fonte_menu {
  font-family: "Anton SC";
}
