// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$cor-roxa-primaria: #6811f0;
$cor-verde-primaria: #11f041;
$cor-laranja-primaria: #ff8400;
$cor-roxa-secundaria: #633e9b;
$cor-laranja-secundaria: #705a40;
$cor-verde-secundaria: #40704a;
