// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$branca: #fff;
$preta: #000;

$cor-azul-primaria: #084b79;
$cor-verde-primaria: #00f050;
$cor-verde-musgo-primaria: #4d7a21;
$cor-amarela-primaria: #fcff5a;
$cor-larana-primaria: #053745;
$cor-vermelho-claro-primaria: #f0d7d7;
$cor-escura-primaria: #242424;

$cor-azul-primaria-transparente: #084c792a;
