@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/fonts";
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.dobra {
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 50rem;
  height: 50rem;
  background-image: linear-gradient(135deg, #ff84009e 0%, transparent 50%);
  z-index: -1;
}
.hero {
  .me__container {
    @include caixa-flex--center;
    position: relative;
    align-content: flex-start;
    margin: 6rem 0 0 4rem;
    min-width: 10rem;
    max-width: 30rem;
    &--foto {
      text-shadow: #2d2d36 0.2rem 0.2rem 1rem;
      margin-left: 3.5rem;
      padding: 0 2rem;
    }
  }

  .dev {
    font-size: 1.8rem;
    text-shadow: #2d2d36 0.2rem 0.2rem 1rem;
    padding: 0 1.8rem 0 1.8rem;
    margin-left: 3.5rem;
  }

  .maior-que {
    position: absolute;
    width: 8rem;
    bottom: 8rem;
    right: -2rem;
  }

  &__container {
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #000000ab;
    height: 45rem;
    margin-top: 6.5rem;

    &--highlight {
      display: inline;

      font-weight: 600;
      text-shadow: 2px 1px 2px #a7a7a7;
      font-size: 1.6rem;
    }

    &2 {
      display: flex;
      min-width: 32rem;
      margin: 3rem 2rem;
    }
  }

  &__container-text {
    display: inline;
    padding: 1.5rem;
    text-align: justify;
    text-align-last: right;
    text-indent: 5%;
    width: 95%;
  }
}

// ANIMAÇÃO
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

// TERMINAL *********************************************************
.terminal {
  display: inline;
  align-items: center;
  background-color: black;
  width: 88%;
  height: 12rem;
  margin: 3rem;
  padding: 1.5rem;
  text-align: left;
  border-radius: 0.5rem;
  border-left: 0.1rem $cor-verde-primaria solid;
}

// Skills ************************************************************

.abas-more {
  @include fundo-transparente--br;
  display: flex;
  justify-content: end;
  flex-direction: column;
  text-align: justify;
  text-indent: 2rem;
  padding: 2rem;
}

.abas__container {
  @include caixa-flex--center;
  gap: 2rem;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 300;

  cursor: pointer;
  &--back,
  &--front,
  &--ux_ui,
  &--ferramentas {
    @include fundo-transparente--br;
    border-radius: 2rem 2rem 0 0;
    padding: 1.5rem 3rem;
  }
  & div {
    /* Estilo básico para as abas clicáveis */
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid $cor-roxa-secundaria;
    border-bottom: none; /* Para simular abas */
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #1d2323;
    }
  }
}

.collapsible {
  /* Estilos base para as divs colapsáveis */
  max-height: 0; /* Altura máxima inicial: colapsada */
  overflow: hidden; /* Esconde o conteúdo que excede a max-height */
  transition: max-height 0.6s ease-out, opacity 1s cubic-bezier(0.1, 0, 1, 1); /* Anima max-height e opacity */
  opacity: 0; /* Inicia transparente */
  padding: 0 2rem; /* Remove padding vertical quando colapsado (ajuste conforme o design) */
  /* Considere também margin-top/bottom se houver */
  margin: 0; /* Remove margem vertical (ajuste conforme o design) */
}

.collapsible.is-open {
  /* Estilos quando a div está aberta */
  max-height: 100rem; /* Uma altura grande o suficiente para o conteúdo aparecer (ajuste se necessário) */
  opacity: 1; /* Torna visível */
  padding: 2rem; /* Adiciona o padding vertical desejado quando aberto */
}

/* Opcional: Estilo para o texto oculto e surgindo */
.collapsible p {
  width: 97%;
  /* Estilo para o parágrafo dentro das divs colapsáveis */
  /* Pode adicionar transição específica para a cor ou outros estilos se quiser um fade mais granular */
  transition: color 1s ease-out;
  color: transparent; /* Cor do texto transparente por padrão (quando colapsado) */
}

.collapsible.is-open p {
  color: #fff; /* Cor do texto normal quando aberto */
}

/* Opcional: Estilo para as abas ativas */
.abas__container > div:active {
  /* Você pode adicionar uma classe 'is-active' aos botões também, se quiser destacá-los */
  /* Ex: className={`abas__container--back ${openDiv === 1 ? 'is-active' : ''}`} nos botões */
  background-color: #633e9b52;
}

.citacao {
  color: $cor-laranja-primaria;
  font-weight: 400;
  text-align: right;
  margin: 2rem 2rem 0 0;
}

.skills {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  &__container {
    @include fundo-transparente--br;
    display: flex;
    cursor: grabbing;
    height: 30rem;
    align-items: center;
    padding: 4rem;
    &--content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0.795);
      padding: 3rem 1rem 1rem 1rem;
      margin: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0.3rem 0.3rem 1.5rem 0.2rem $cor-roxa-secundaria;
      min-width: 12rem;
      min-height: 18rem;
    }
  }
  &-icon {
    &--fundo-animado {
      @include circulo-flex--center--b;
      margin-bottom: 1rem;
      width: 6.5rem;
      height: 6.5rem;
      cursor: pointer;
      background-image: conic-gradient(
        darken($cor-verde-secundaria, 30%) 180deg,
        darken(white, 30%) 360deg
      );
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.3);
      }
    }
    &--fundo {
      @include circulo-flex--center--b;
      @include fundo-transparente--pr;
      width: 6rem;
      height: 6rem;
      padding: 1.2rem;
      border-width: 0rem;
    }
  }
}

.skill {
  @include caixa-flex--center;
  flex-direction: column;
  color: #000;
  &--nome {
    display: flex;
    flex-wrap: wrap;
    max-width: 9rem;
  }
}

.front-end__container,
.back-end__container,
.ux-ui__container,
.ferramentas__container {
  @include caixa-flex--center;
  flex-direction: column;
  padding: 2.5rem;

  &--content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.795);
    gap: 5rem;
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 2rem;
    align-self: center;
    box-shadow: 0.3rem 0.3rem 1.5rem 0.2rem $cor-roxa-secundaria;
  }
}

// PORIFÓLIO *******************************************************
// ARQUIVO PROPRIO

// PITCH ELEVATOR *******************************************************

.pergunta {
  font-size: 1.8rem;
  font-weight: 600;
  color: $cor-laranja-primaria;
}

.elevator {
  &__titulo {
    @include caixa-flex--center;
    position: relative;
    font-size: 4rem;
  }
  &__span {
    font-weight: 600;
    text-shadow: 0.1rem -0.2rem 0.4rem $cor-roxa-secundaria;
    font-size: 4rem;
    color: $cor-laranja-primaria;
  }

  &__faixa {
    &--1 {
      @include caixa-flex--center;
      position: absolute;
      background-color: #ff8400;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 6rem;
      transform: rotate(1deg);
    }
    &--2 {
      @include caixa-flex--center;
      position: absolute;

      background-color: #6811f0;
      top: 2rem;
      left: 0rem;
      width: 100%;
      height: 4rem;
      transform: rotate(2.5deg);
    }
    &--3 {
      @include caixa-flex--center;
      position: absolute;

      background-color: #40704a;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 6rem;
      transform: rotate(-3deg);
    }
    &--texto {
      @include caixa-flex--center;
      position: absolute;
      font-size: 2rem;
      top: -0.5rem;
      left: 0rem;
      width: 100%;
      z-index: 50;
      transform: rotate(357deg);
      gap: 1.8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 6rem 6rem 6rem;
  }

  &__texto {
    @include caixa-flex--center;
    margin-top: 8rem;
    text-indent: 3rem;
    text-align: justify;
    padding: 3rem;
    max-width: 100%;
  }

  &--img-aside {
    position: relative;
    @include caixa-flex--center;
    width: 100%;
    height: 40rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem #ff84006b;
    overflow: hidden;
    transform: translateY(6rem);
    z-index: -1;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
    }
  }
}

// FOOTER **********************************************************
.footer {
  @include caixa-flex--center;
  width: 100%;
  background-color: #000;
}

.rodape {
  &__container {
    @include caixa-flex--center;
    flex-direction: column;
  }
  &__cta {
    @include caixa-flex--center;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 1rem;
    margin-top: 1rem;
    // background-color: lighten($cor-verde-primaria, 20%);
    color: #000;
    & a {
      @include botao-classico--vd // font-size: 3rem;
        // text-decoration: underline;
        // text-underline-offset: 0.9rem;
        // text-decoration-thickness: 0.2rem;
;
    }
  }
}
.social__container {
  @include caixa-flex--center;
  justify-content: space-evenly;
  margin: 2rem 0 2rem 0;
  gap: 2rem;
  & img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;
    border: 0.2rem solid black;
    transition: 0.5s ease-in-out;
    &:hover {
      transform: scale(1.3);
      border: 0.2rem solid $cor-verde-primaria;
    }
  }
}

.cta {
  & span {
    @include cta;
    font-size: 2.4rem;
  }
  & p {
    @include cta;
  }
}
.socials {
  @include caixa-flex--center;
  cursor: pointer;
  user-select: none;
  border-left: 0.1rem solid $cor-verde-primaria;
  border-right: 0.1rem solid $cor-verde-primaria;
  border-radius: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  gap: 1.2rem;
}

.version {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  width: 95svw;
}

.copyright {
  margin-bottom: 3rem;
}
// ------------------------------------------------------

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

#Footer {
  width: 100%;
}
