@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");

/*  ---***--- GLOBAIS ---***--- */
#root {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  will-change: filter;
  transition: filter 1600ms;
  align-items: center;
}

.logo:hover {
  filter: drop-shadow(0 0 1.5rem #bac518) hue-rotate(360deg);
}

.cabecalho {
  display: inline-flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 0 1rem;
}

.menu-up {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  align-items: center;
}

.menu-up li {
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.cabecalho__logo {
  font-size: 1.8rem;
  font-weight: 100;
  color: #646cff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* SESSÃO HERO */
.hero__container {
  display: flex;
  background-color: #00010d3b;
  width: 100%;
  font-size: 1.3rem;
}

.hero__container--highlight {
  font-weight: 600;
  text-shadow: 1px 1px 2px #a7a7a7, 0 0 1em #6d681e, 0 0 0.2em #121212;
  font-variant: small-caps;
  font-size: 1.6rem;
}

#me {
  text-shadow: #2d2d36 0.2rem 0.2rem 1rem;
  font-family: "Arizonia", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  padding: 2rem;
}

#dev {
  font-family: "Genos", monospace;
  font-size: 1.8rem;
  text-shadow: #2d2d36 0.2rem 0.2rem 1rem;
  padding: 2rem;
}
